In [26]:
import os
import pymysql
import dotenv
from dotenv import load_dotenv
load_dotenv()

HOST = os.getenv('HOST')
USER = os.getenv('MYSQL_USER')
PASSWORD = os.getenv('MYSQL_ROOT_PASSWORD')
DB = os.getenv('MYSQL_DATABASE')

connection = pymysql.connect(host=HOST, 
                      user = USER,
                     password = PASSWORD,
                     db = DB)

cursor = connection.cursor()

* ## Quantos usuários únicos não jogaram após o dia 03/02/2020?
> A análise de jogos por usuário será feita a partir de updated_at (última atualização do registro), na tabela matchmaking_stats_summary

>OBS: updated_at e created_at possuem sempre a mesma data neste banco de dados
>Como o número de usuários que jogaram é diferente do número de usuários distintos, sei que um mesmo usuário jogou várias partidas.

In [2]:
#Retrieving the total user number:
total_registros = cursor.execute("SELECT player_id FROM matchmaking_stats_summary")
total = cursor.execute("SELECT DISTINCT player_id FROM matchmaking_stats_summary")
(total_registros, total)
#27 usuers has played more than one single date

(2057, 2030)

In [3]:
#"%Y/%m/%d"
#Retrieving the number of players who played after this date 03/02/2020
strong_players = cursor.execute("SELECT DISTINCT player_id FROM matchmaking_stats_summary WHERE updated_at >= '2020-02-03'")
strong_players

1304

In [5]:
#Retrieving the number of player who haven't played
weak_players = total - strong_players
weak_players

726

* ## Quantos usuários únicos jogaram em fevereiro após o dia 06/02/2020?
> Usando o mesmo raciocínio do exercício anterior

In [8]:
#Retrieving the total user number:
total = cursor.execute("SELECT distinct player_id FROM matchmaking_stats_summary")
total

2030

In [12]:
#Retrieving the number of users who played after the date 
faithful_players = cursor.execute("SELECT DISTINCT player_id FROM matchmaking_stats_summary WHERE updated_at > '2020-02-06 23:59:59'")
faithful_players

0

In [14]:
#or
faithful_players = cursor.execute("SELECT DISTINCT player_id FROM matchmaking_stats_summary WHERE updated_at >= '2020-02-07'")
faithful_players

0

* ## Em qual dia mais jogadores deixaram de jogar no mês de fevereiro?
>No caso, vou usar a mesma tabela, e fazer as operações passo a passo:

In [16]:
#Retrieving the number of active players during the month of February (players who updated their stats)
feb_players = cursor.execute("SELECT DISTINCT player_id FROM matchmaking_stats_summary WHERE updated_at BETWEEN '2020-02-01 00:00:00' AND '2020-02-29 23:59:59'")
feb_players
#every player have done some update in their stats during this month

2030

* ### Checking by day:

In [19]:
day1 = cursor.execute("SELECT DISTINCT player_id FROM matchmaking_stats_summary WHERE updated_at BETWEEN '2020-02-01 00:00:00' AND '2020-02-01 23:59:59'")
day1

326

In [20]:
day2 = cursor.execute("SELECT DISTINCT player_id FROM matchmaking_stats_summary WHERE updated_at BETWEEN '2020-02-02 00:00:00' AND '2020-02-02 23:59:59'")
day2

408

In [21]:
day3 = cursor.execute("SELECT DISTINCT player_id FROM matchmaking_stats_summary WHERE updated_at BETWEEN '2020-02-03 00:00:00' and '2020-02-03 23:59:59'")
day3

313

In [22]:
day4 = cursor.execute("SELECT DISTINCT player_id FROM matchmaking_stats_summary WHERE updated_at BETWEEN '2020-02-04 00:00:00' and '2020-02-04 23:59:59'")
day4

330

In [23]:
dia5 = cursor.execute("SELECT DISTINCT player_id FROM matchmaking_stats_summary WHERE updated_at BETWEEN '2020-02-05 00:00:00' and '2020-02-05 23:59:59'")
dia5

338

In [24]:
dia6 = cursor.execute("SELECT DISTINCT player_id FROM matchmaking_stats_summary WHERE updated_at BETWEEN '2020-02-06 00:00:00' and '2020-02-06 23:59:59'")
dia6

330

 >## In the above case we can see that all players have played in February. We can notice that 03/02/2020 was the day where less players have played. 
>## We must be careful looking these numbers, because the variables dayN refers to the number of active single players in that day, but in this analyse we can't say who are the players. Thus, the sum of number of players of variables dayN are going to be higher than the feb_players variable (number of total single player in the February mounth). 
>## We can take a look in the intersection between these variables:

In [27]:
cursor.execute("SELECT DISTINCT player_id FROM matchmaking_stats_summary WHERE updated_at BETWEEN '2020-02-06 00:00:00' and '2020-02-06 23:59:59'")
a = cursor.fetchall()
cursor.execute("SELECT DISTINCT player_id FROM matchmaking_stats_summary WHERE updated_at BETWEEN '2020-02-06 00:00:00' and '2020-02-06 23:59:59'")
b = cursor.fetchall()

In [28]:
intersec = set(a).intersection(set(b))
len(intersec)

330

In [29]:
#The players ids
intersec

{(536,),
 (1903,),
 (5656,),
 (7612,),
 (7953,),
 (10783,),
 (13302,),
 (15327,),
 (15727,),
 (16863,),
 (17293,),
 (17601,),
 (18621,),
 (19120,),
 (20741,),
 (20882,),
 (23145,),
 (24023,),
 (27390,),
 (28357,),
 (28756,),
 (29553,),
 (30019,),
 (30309,),
 (30838,),
 (31133,),
 (33603,),
 (33732,),
 (36015,),
 (38043,),
 (38663,),
 (38728,),
 (39554,),
 (49760,),
 (58567,),
 (59201,),
 (66053,),
 (73644,),
 (74092,),
 (75077,),
 (76941,),
 (82824,),
 (83537,),
 (85158,),
 (87779,),
 (88377,),
 (94264,),
 (101769,),
 (102712,),
 (106041,),
 (112578,),
 (113818,),
 (118584,),
 (124713,),
 (128232,),
 (131266,),
 (137168,),
 (140846,),
 (141738,),
 (143142,),
 (143577,),
 (143905,),
 (144011,),
 (157136,),
 (157455,),
 (160572,),
 (168613,),
 (177856,),
 (185545,),
 (196112,),
 (201506,),
 (212934,),
 (221701,),
 (224276,),
 (234363,),
 (236304,),
 (236573,),
 (240625,),
 (241465,),
 (241767,),
 (251616,),
 (259723,),
 (262957,),
 (274639,),
 (282603,),
 (289303,),
 (292934,),
 (300080,),
 (302018,),
 (303101,),
 (303731,),
 (306391,),
 (306699,),
 (316605,),
 (317615,),
 (319494,),
 (321143,),
 (328364,),
 (334433,),
 (336426,),
 (345015,),
 (349768,),
 (355219,),
 (358862,),
 (362814,),
 (375347,),
 (379083,),
 (379681,),
 (382789,),
 (399115,),
 (400482,),
 (403121,),
 (413220,),
 (419951,),
 (424667,),
 (429054,),
 (429183,),
 (456980,),
 (457176,),
 (461171,),
 (462396,),
 (465158,),
 (465633,),
 (467129,),
 (471706,),
 (480492,),
 (481378,),
 (484664,),
 (485349,),
 (486333,),
 (495982,),
 (500543,),
 (505584,),
 (523340,),
 (526454,),
 (535317,),
 (540419,),
 (542323,),
 (542769,),
 (545871,),
 (545905,),
 (554241,),
 (555511,),
 (563296,),
 (563806,),
 (564971,),
 (576674,),
 (578554,),
 (578973,),
 (588679,),
 (589458,),
 (590382,),
 (590544,),
 (590695,),
 (597197,),
 (598096,),
 (611045,),
 (613251,),
 (628147,),
 (630658,),
 (640357,),
 (650068,),
 (655150,),
 (658780,),
 (663016,),
 (671297,),
 (671459,),
 (683308,),
 (685924,),
 (691076,),
 (694361,),
 (699751,),
 (706745,),
 (708204,),
 (719985,),
 (721080,),
 (730094,),
 (731026,),
 (734457,),
 (735793,),
 (737212,),
 (739776,),
 (741596,),
 (746349,),
 (753765,),
 (756967,),
 (757782,),
 (758201,),
 (759082,),
 (761325,),
 (762087,),
 (763648,),
 (764776,),
 (765064,),
 (765773,),
 (774075,),
 (786584,),
 (786755,),
 (786888,),
 (786969,),
 (788608,),
 (793366,),
 (798559,),
 (799743,),
 (802646,),
 (802786,),
 (805310,),
 (808230,),
 (810980,),
 (813684,),
 (816625,),
 (818480,),
 (830577,),
 (830624,),
 (830654,),
 (838207,),
 (838774,),
 (844847,),
 (853772,),
 (853799,),
 (858828,),
 (862466,),
 (864737,),
 (869843,),
 (871584,),
 (871626,),
 (874321,),
 (877918,),
 (879916,),
 (881576,),
 (889511,),
 (916568,),
 (922715,),
 (935916,),
 (942916,),
 (945203,),
 (948915,),
 (955296,),
 (960629,),
 (965939,),
 (968242,),
 (970684,),
 (980341,),
 (981886,),
 (982678,),
 (989240,),
 (1003687,),
 (1005153,),
 (1013233,),
 (1014358,),
 (1015789,),
 (1017533,),
 (1026777,),
 (1030301,),
 (1034281,),
 (1035485,),
 (1039156,),
 (1039797,),
 (1046001,),
 (1048929,),
 (1049724,),
 (1050036,),
 (1051481,),
 (1061775,),
 (1065045,),
 (1066446,),
 (1070784,),
 (1074023,),
 (1076039,),
 (1076217,),
 (1078932,),
 (1082204,),
 (1083180,),
 (1094673,),
 (1097081,),
 (1098708,),
 (1102546,),
 (1102873,),
 (1106224,),
 (1109541,),
 (1112624,),
 (1118682,),
 (1125419,),
 (1128288,),
 (1130162,),
 (1130514,),
 (1132177,),
 (1133940,),
 (1135290,),
 (1138900,),
 (1139413,),
 (1148268,),
 (1153846,),
 (1158180,),
 (1163702,),
 (1168117,),
 (1170018,),
 (1172146,),
 (1173509,),
 (1178312,),
 (1181434,),
 (1190544,),
 (1191618,),
 (1196216,),
 (1203488,),
 (1204608,),
 (1205034,),
 (1206986,),
 (1211496,),
 (1215115,),
 (1217362,),
 (1217998,),
 (1227165,),
 (1227900,),
 (1230117,),
 (1231469,),
 (1234254,),
 (1237898,),
 (1246632,),
 (1247649,),
 (1251329,),
 (1252907,),
 (1254553,),
 (1259423,),
 (1261336,),
 (1262859,),
 (1268835,),
 (1269653,),
 (1277946,),
 (1280236,)}